@import "./cambio_color.css";

.selected2 {
    border-bottom: 5px var(--color-primario) solid;
    width: 731.665px;
    height: 42px;
    flex-shrink: 0;
    
  }

#txt_insertar{
    margin-top: 2%;
    color: var(--color-primario);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
}

#form_perfil2 {
    display: flex;
    flex-direction: column;
    width: 1088px;
    height: 680px;
    flex-shrink: 0;
    background: var(--color-secundario);
    margin-top: 20px;
}
#tituloP2 {
    width: 100%; 
    color: black; 
    font-size: 22px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 400; 
    line-height: 28px; 
    word-wrap: break-word;
    
}

#inputTituloLibro{
    border: none;
    background: transparent;
    outline: none;
    
}
#inputAutorLibro{
    border: none;
    background: transparent;
    outline: none;
}
#inputisbn{
    border: none;
    background: transparent;
    outline: none;
}
#inputSerie{
    border: none;
    background: transparent;
    outline: none;
}
#inputDescripcion{
    border: none;
    background: transparent;
    outline: none;
    height: 267px;
    position:absolute;
    width: 260px;
}
#cont-textarea{
    position:relative;
    bottom: 10px;
}

#inputtopico{
    border: none;
    background: transparent;
    outline: none;
}

#imagen_perfil2 {
    margin-left: 33px;
    margin-top: 20%;
    min-width: 150px;
  }

#GuardarLibro{
    background: transparent;
}


.modal-container-rl{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.7);
    z-index:1;
    visibility: hidden;
}

.modal-content-rl{
    width: 312px;
    height: 180px;
    padding:24px;
    border-radius: 10px;
    background: var(--color-primario);

    
}

.modal-content-rl h2 {
    text-align: left;
    font-size:24px;
    font-weight: 500;
}

.modal-content-rl p{
    
    color: var(--m-3-sys-light-on-surface-variant, #49454F);
    /* M3/body/medium */
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 16px;
}

.cerrar-rl {
    width:40px;
    height:20px;
    margin-left: 77%;
    border-radius: 28px;
    background: var(--color-secundario);
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 225px;
}

.cerrar-rl p{
    color: var(--color-primario);
    text-align: center;
    /* M3/label/large */
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px; /* 142.857% */
}

.cerrar-rl :hover{
    background-color: var(--color-primario);
    border-radius: 28px;

}

#contt-ima{
    position: relative;

}

#mover-image{
    position:absolute;
    left: 350px;
    bottom: 150px;
}